:root  > * {
  
  --md-primary-fg-color:	white;		/*color header*/
  --md-primary-bg-color:	#74B549; 	/*color header text (FAIRagro middle green)*/
  --md-typeset-a-color:		#00917A; 	/*color link (FAIRagro dark green)*/
  --md-accent-fg-color:     #A7C637 	/*color link hover (FAIRagrolight green)*/
}