:root  > * {
  
  --md-primary-fg-color:	white;		/*color header*/
  --md-primary-bg-color:	#74B549; 	/*color header text (FAIRagro middle green)*/
  --md-typeset-a-color:		#037D6A; 	/*color link (FAIRagro dark green)*/
  --md-accent-fg-color:     #A7C637; 	/*color link hover (FAIRagrolight green)*/
  --md-footer-bg-color:		grey;
  
  
  --md-text-font: "Fira Sans"
}

@font-face {
  font-family: "Fira Sans";
  src: "https://mozilla.github.io/Fira/";
}

